.no-border{
    border: none !important;
}
.no-padding{
    padding: 0px !important;
}
.dropdown-panel{
    position: absolute;
    border: 1px solid #888;
    padding-right: 8px;
}

.overflow-scroll{
    overflow: scroll;
}
.max-height-300{
    max-height: 300px;
}
.break-word{
    word-wrap: anywhere;
}